// Variables go here
//== Colors

$brand-primary:         #00bcff;



// Basics of a navbar
$navbar-height:                    auto;
$navbar-margin-bottom:             0;
$navbar-border-radius:             0;
$navbar-default-border:            transparent;

//== Panels
$panel-border-radius:         0;



//== Jumbotron
$jumbotron-color:                #fff;
$jumbotron-bg:                   transparent;



